body {
  background-color: #464242 ;
  overflow-x: hidden;
}

.navbar{
  position: relative;
  display: flex;
  justify-content: center;   
  align-items: center;
  height: 70px;
  background: #4610b0;
  color: white;
}

.back-btn{
  position: absolute;
  left: 20px;       
  text-decoration: none;
  font-size: 30px;
  color: white;

  outline: none;
}


 .formulario{
  background:rgba(0, 0, 0, 0);
  padding:40px;
  border-radius:10px;
  width:800px;   
  max-width:90%;
  display:flex;
  flex-direction:column;
  gap:20px;
  position:center;
}

.contenedor{
  min-height:20vh;
  display:flex;
  justify-content:center;
  align-items:center;
}


.campo{
  display:flex;
  flex-direction:column;
  gap:5px;
}

input{
  width:100%;      
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
  background-color: #a9a9a9;
}

select{
  width:100%;      
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
  background-color: #a9a9a9;
}


button{
  padding:12px;
  border:none;
  background:#222;
  color:rgb(255, 255, 255);
  border-radius:6px;
  cursor:pointer;
}

.TITULOS {
    font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
   
}

label{
  color: #ffffff;
}

h2{
  color: #ffffff;
}







